<h1><%= @faculty.lastname.nil? ? @faculty.firstname : @faculty.firstname + " " + @faculty.lastname %>'s Profile</h1>

<p><%= gravatar_for @faculty, size: 150 %></p>

<p>
  Specialization: <%= @faculty.teaching_field%>
</p>

<p>
  Designation: <%= @faculty.designation%>
</p>

<p>
  E-Mail: <%= @faculty.email%>
</p>

<p>
  Contact: <%= @faculty.contact%>
</p>

<%= link_to "Edit this Faculty", edit_faculty_path(@faculty)%> | <%= link_to "Back To Faculties listing", faculties_path%> | <%= link_to "Delete", faculty_path(@faculty), method: :delete, data: {confirm: "Are you sure?"}%>